ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
ul li {
    padding: 2rem;
    margin: 1rem;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    border: 1px gray solid;
    border-radius: 15px;
    background-color: #f7f7f7;

}
.icon {
    display: block;
    background-image: url(./images/frontend.png);
    width: 24vw;
    height:  40vh;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}
.i-html{
    background-position: left;
}
.i-css{
    background-position: center;
}
.i-js{
    background-position: right;
}
